.landingPage {
  height: 100%;
  display: flex;
  padding-top: 30px;
}
.leftContainer {
  width: 20%;
  padding-left: 80px;
}

.mainContainer {
  width: 52%;
  padding-left: 6px;
}
.rightContainer {
  width: 28%;
  padding-left: 80px;
}
