.header {
  height: 60px;
  background-color: #ffffff;
  color: red;
  position: sticky;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 20%;
  margin-left: 45px;
  /* margin-right: 30px; */
  /* img {
    width: 150px;
    height: 50px;
  } */
}
.logo > img {
  width: 150px;
  height: 50px;
  /* border: 1px solid red; */
}
.search {
  width: 52%;
  height: 25px;
  margin: 10px 45px;
  padding: 5px 15px;
  background-color: rgba(40, 52, 62, 0.05);
  border-radius: 8px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  input {
    background-color: transparent;
    border: none !important;
    padding: 0 20px;
    width: 90%;
    height: 100%;
    outline: none;
  }
}

.nav {
  width: 28%;
  display: flex;
  color: rgb(40, 39, 39);
  font-size: 15px;
}
.nav_item {
  width: 33%;
}
