.search {
  width: 52%;
  margin: 10px 42px;
}

.search-bar {
  height: 25px;
  padding: 5px 5px;
  background-color: rgba(40, 52, 62, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

input {
  background-color: transparent;
  border: none !important;
  padding: 0 20px;
  width: 90%;
  height: 100%;
  outline: none;
}

.searchResults {
  background-color: white;
  border-radius: 0 0 10px 10px;
  /* padding: 0px 15px; */
  position: absolute;
  transform: translate(-4px, 15px);
  top: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 48%;
}

.searchItem {
  color: black;
  font-size: 12px;
  padding: 10px 15px;
  border-bottom: 1px solid #a7a3a3d1;
  &:hover {
    /* border: 2px solid rgb(242, 129, 35); */
    cursor: pointer;
    span {
      scale: 1.02;
      color: rgb(242, 129, 35);
    }
    /* overflow: hidden; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    /* color: white; */
  }

  span {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.searchItem:last-child {
  border-bottom: none;
}
